// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";

$primary-color: #6a6a6a;
$sub-color: #dadada;
$error-color: #e38692;
$success-color: #81d674;

.message {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em 0;
  &.error {
    background: rgba($error-color, 0.2);
    border: 1px $error-color solid;
  }
  &.success {
    background: rgba($success-color, 0.2);
    border: 1px $success-color solid;
  }
}

.fields {
  label {
    font-weight: bold;
  }
  textarea, input {
    border: 1px $sub-color solid;
    outline: none;
  }
  textarea {
    padding: 0;
    margin: 1em 0;
    width: 100%;
    max-width: 100%;
    height: 7em;
  }
  .field_with_errors {
    display: inline;
  }
}

.actions {
  input[type="submit"] {
    border: none;
    width: 100%;
    outline: none;
  }
}

.post {
  border: 1px $sub-color solid;
  margin: 1em 0;
  padding: .5em 1em;
  .name {
    font-weight: bold;
  }
  .time {
    color: $sub-color;
    text-align: right;
  }
  hr {
    border-width: 1px 0 0 0;
    border-color: $sub-color;
    border-style: solid;
  }
}
